#experimentinterface{
	padding:10px;
	 color: #21759B;
    font-size: 0.9em;
    font-style: italic;
}

#experimentinterface-intro{font-size:1.1em;}

#experimentinterface h3 {margin:0px;padding:0px;font-size:1.3em}

#experimentinterface input[type="text"],#experimentinterface select{
	border:1px solid #D1E5EE;
	background:#FFFFFF;
	color:#666;
	width:100px;
	padding:3px;
	   -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
}

#experimentinterface select{width:150px;}
#experimentinterface select option{color:red;font-size:0.9em;}

#experimentinterface table li {margin-top:10px;}
#experimentinterface table li label{display:block;margin-bottom:2px;font-size:0.9em;}
#experimentinterface table li .radio_label{
	 color: #777777;
    display: inline;
    margin-bottom: 0.2em;
    margin-top: 0;
}

#experimentinterface-termo{display:none;}