.reservation_holder{padding:25px 20px;float:left;}

table.reservations{border-collapse:collapse;width:100%;border-bottom:1px #DFDFDF solid; }
table.reservations tr{height:25px;}
table.reservations tr.header{background:#FFFFFF;}
table.reservations tr.past{color:#AAAAAA;}
table.reservations tr.uneven{background:inherit;}
table.reservations tr.even{background:#eef2f4;}
table.reservations th{color:#21759B;font-weight:bold;}
table.reservations td{border-top:1px #DFDFDF solid;}


table.reservations th.title , table.reservations td.title {width:150px;padding-left:10px;}
table.reservations th.end , table.reservations td.end {width:110px;padding-right:10px;text-align:right;}
table.reservations th.start , table.reservations td.start {width:110px;text-align:right;}

.wc-equipments-buttons{float:left;}