/vendor
/node_modules
/storage/schemas
/storage/user_uploads
Homestead.yaml
Homestead.json
.env

# PHPStorm
.idea/
**/.idea/workspace.xml
**/.idea/tasks.xml

# Mac specific
.DS_Store

Vagrantfile
/.vagrant
_ide_helper.php
_ide_helper_models.php
