#profile{}

#profile table{}
#profile table td{padding: 5px 0px;}
#profile table td.first{padding-right:70px;}

#profile .info{color:#666666;font-style:italic;padding-left:10px;}
#profile .readonly{background:#f0f0f0!important;}

#profile input[type="text"],#profile input[type="password"], #profile select{
	border:1px solid #D1E5EE;
	background:#FFFFFF;
	color:#666;
	width:200px;
	padding:5px;
	   -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#profile select{
	width:210px
}

#profile-process-loader, #profile-warning, #profile-succes{display:none;}