<div id="screen-links">
        
	<div id="dashboard-options-wrapper">
		<div id="dashboard-options">
			<div id="modules-options">
				<div class="left" style="width:100%;">
					<h5>Profily zobrazenia pracovnje plochy</h5>
					
					<!-- BEGIN DYNAMIC BLOCK: profile_row -->
					<label>
						<input type="radio" {CHECKED_PROFILE} name="profile" value="{PROFILE_ID}" />
						Profil {PROFILE_ID}
					</label>
					<!-- END DYNAMIC BLOCK: profile_row -->
					
					
				</div>
				
				<div class="left">
					<h5>Zobrazenie modulov na pracovnej ploche</h5>
					
					<!-- BEGIN DYNAMIC BLOCK: modules_block -->
					<div id="{BLOCK_MODULES_PROFILE_NAME}" class="{BLOCK_MODULES_DISPLAY}">
						<!-- BEGIN DYNAMIC BLOCK: modules_row -->
						<label for="{MODUL_CHECKBOX_NAME}">
							<input type="checkbox" {MODUL_SHOW_CHECKBOX} value="" id="{MODUL_CHECKBOX_NAME}" name="{MODUL_CHECKBOX_NAME}" class="">
							{MODUL_TITLE}
						</label>
						<!-- END DYNAMIC BLOCK: modules_row -->
						<input type="hidden" value="modules-profile" name="">						
					</div>
					<!-- END DYNAMIC BLOCK: modules_block -->
					
				</div>	
				<div class="breaker"></div>
			</div>
			<input id="btn-default-settings" class="btn1" style="float:right;" type="button" name="" value="Predvolené nastavenie pracovnej plochy pre tento profil" />
			<div class="breaker"></div>
		</div>
		
	</div>
        
    
	<div id="dashboard-info-wrapper">
		<div id="info-options">
			<h4>{HELP_MAIN_HEADER}</h4>
			<h5>Pracovná plocha - hlanvá stránka</h5>
			<p>
				<ul>
					<li>Umiestnením kurzora na hlavičku okna, je možné jednotlivé okná ľubovoľne presúvať po pracovnej ploche. Jednotlivé pozície okien budú automaticky uložené.</li>
				</ul>
			</p>
			<br />
			<h5>Pracovná plocha - nastavenie</h5>
			<p>
				<ul>
					<li>Umiestnením kurzora na celú polochu okna, je možné jednotlivé okná ľubovoľne presúvať po pracovnej ploche. Jednotlivé pozície okien budú automaticky uložené.</li>
					<li>Ak má okno ikonku v pravom dolnom rohu, je možné zmeniť rozmery okna.</li>
				
				</ul>
			</p>
			<br />
			<h5>Možnosti praovnej plochy</h5>
			<p>
				<ul>
					<li>Tri rôzne profily zobrazenia pracovnej plochy. Každý profil je možné si osobne personalizovať.</li>
					<li>Zobrazenie alebo schovanie jednotlivých okien.</li>
					<li><span style="font-style:italic">Predvolené nastavenie pracovnej plochy</span> - pre vybratý profil sa nastavenie pracovnej plochy vráti do pôvodného stavu.</li>
				
				</ul>
			</p>
			<br />
			<h5>Meranie experimentov</h5>
			<p>
				<ul>
					<li>Ponúka vlastnú personalizáciu pod ikonkou v pravo hore.</li>
				</ul>
			</p>
		</div>
	</div>
    
	<div id="dashboard-btn-options-wrapper">
		
		<a href="#" id="open-options" title="">{BUTTON_DASHBOARD_SCREEN}</a>
		<a href="#" id="close-options" style="display:none;" title="">{BUTTON_DASHBOARD_SCREEN}</a>
	</div>
    
	<div id="dashboard-btn-info-wrapper">
		<a href="#" id="info-dashboard-open" title="">{BUTTON_DASHBOARD_HELPER}</a>
		<a href="#" id="info-dashboard-close" style="display:none;" title="">{BUTTON_DASHBOARD_HELPER}</a>
	</div>
</div>