
#chart_container{}

#livechart-modul{position:relative;}

/*#chart-menu-holder{width:900px}*/
#chart-menu{
	width:100%;
	height:49px;
	background:#eff8fe; 
	border-top:1px #d1e5ee solid;
}
#chart-menu > div{padding-left:1%;padding-right:1%;width:98%;}
#chart-menu ul{padding-top:10px;padding-bottom:10px;width:100%;float:left;}
#chart-menu ul li{float:left;margin-right:10px;}
#chart-menu ul li.stop{float:right;margin-right:0px;}
#chart-menu ul li a{}

#user_info{
	float:right;
	line-height:32px;
}

#info{
	width:400px;
	display:none;
	position:absolute;
	left:50%;
	margin-left:-200px;
	z-index:1;
	background-color: #FFFFE0;
	border:1px #E6DB55 solid;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding:10px 10px;
	text-align:left;
	margin-top:50px;
}

.info-chart{
	width:240px;
	display:none;
	position:absolute;
	left:50%;
	margin-left:-120px;
	margin-top:10px;
	z-index:1;
	background:url(../images/ico_info.png) 96% 50% no-repeat #E9FFBE;
	border:6px #C6E983 solid;
	padding: 15px 50px 15px 15px;
	text-align:left;
	color:#444444;
	font-weight:bold;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	z-index:10;
}

.default-btn{
	background:#F5F5F5;
	background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
	background: -webkit-gradient( linear, center, top, from(#F5F5F5), to(#F1F1F1) ); 
	background: -o-linear-gradient( center top , #F5F5F5, #F1F1F1 );
	border: 1px solid rgba(0, 0, 0, 0.1);
	/*radius*/
	border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	color:#444444;
	display:inline-block;
	height: 27px;
    line-height: 27px;
	padding: 0 8px;
	text-align:center;
	cursor:pointer;
}

.zoom-ico{background:url(../images/zoom_ico.png) center left no-repeat;padding-left:20px;}

.default-btn:hover{
	border:1px solid #C6C6C6;
	background:#F8F8F8;
	background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);
	text-decoration:none;
	/*shadow*/
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  	-webkit-box-shadow:  0px 1px 1px rgba(0,0,0,0.1);
  	box-shadow:  0px 1px 1px rgba(0,0,0,0.1);

}

.default-btn span{font-weight:bold;font-size:11px;display:block;}

#dialog-chart{display:block;}
.dialog-chart-class {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px; 
	padding:0px;
	margin:0px;
	border:none;
}
.dialog-chart-class .ui-dialog-content {padding:0px;overflow:auto;}
.dialog-chart-class .ui-dialog-titlebar {
	margin:0px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-bottom:1px;
	border:0px #DFDFDF solid;
	background:url(../images/cursor_drag_hand.png) 5px 5px no-repeat #EBEBEB; 
}

.dialog-chart-class .ui-dialog-titlebar-close {
    display:none;
}

.settings_button{
	position:absolute;
	display:block;
	/*visibility:hidden;*/
	width:24px;
	height:20px;
	background:url(../images/settings-ico.png) top left no-repeat;
	text-indent:-9999px;
	right: 5.2em;
	top:0.8em;
	z-index:1;
	display:none;
}

.settings_button:hover{background:url(../images/settings-ico.png) bottom left no-repeat;}

.chart-overlay{
	position:absolute;
	width:100%;
	height:100%;
	background:#000;
	filter:alpha(opacity=80);/*Needed for IE*/ 
	-moz-opacity:0.8;/*Older mozilla broswers like NN*/ 
	-khtml-opacity: 0.8;/*Old versions of Safari and "KHTML" browser engines*/ 
	opacity: 0.8;/*FF, Safari, and Opera*/ 
	z-index:9998;
	display:none;
}

#panel-menu{display:none;}

.panel {
	position: absolute;
	/*width: 470px;*/
	width:auto;
	height:auto;
	top: 40px; 
	right: 0px;
	display: none;
	background: #FFF;
	border:1px solid #d0d0d0;
	border-right:1px solid #EBEBEB;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	z-index:9999;
}

.panel .title-bar{background:#f5f5f5;width:100%;border-bottom:1px #EBEBEB solid;position:relative;}
.panel .title-bar h3{color:#444444; margin:0px;padding:0px;padding-top:10px;padding-bottom:10px;padding-left:10px;font-size:14px;}

.panel .title-bar .close-panel-btn{display:block;position:absolute;background:url(../images/close2.png) 0px -14px no-repeat;width:14px;height:15px;top:13px;right:10px;cursor:pointer;}
.panel .title-bar .close-panel-btn:hover{background:url(../images/close2.png) 0px 0px no-repeat;}

.panel .title-bar .new-window-btn{background:url(../images/new_window.png) 0px 0px no-repeat; display:block;position:absolute;width:20px;height:20px;overflow:hidden;cursor:pointer; top:10px;right:25px;}
.panel .title-bar .new-window-btn:hover{background-position:0px -20px;}
.panel .content{padding:10px;color:#777777;}
.panel .content table{}
.panel .content table th{border-bottom:1px #444444 solid;}
.panel .content label{color:#777777;font-size:11px;}
.panel .content input[type=text]{
	background: none repeat scroll 0 0 #FBFBFB;
	border: 1px solid #E5E5E5;
	box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
	-moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-bottom-left-radius: 2px;
	 color:#555555;
	 margin-top: 2px;
	 padding: 3px;
	 width: 50px;
	 font-size:11px;
}

.panel .content input[type=submit]{
	font-weight:bold;
	background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
	background: -webkit-gradient( linear, center, top, from(#F5F5F5), to(#F1F1F1) ); 
	background: -o-linear-gradient( center top , #F5F5F5, #F1F1F1 );
	border: 1px solid rgba(0, 0, 0, 0.1);
	/*radius*/
	border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	color:#444444;
	cursor:pointer;
	padding:5px;
	font-size:11px;
	float:right;
	margin-top:15px;
}

.panel .content input[type=submit]:hover{
	border:1px solid #C6C6C6;
	background:#F8F8F8;
	background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);
	text-decoration:none;
	/*shadow*/
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  	-webkit-box-shadow:  0px 1px 1px rgba(0,0,0,0.1);
  	box-shadow:  0px 1px 1px rgba(0,0,0,0.1);
}

.bold{font-weight:bold;}

/*table for chart settings*/
table.chart-settings{color:#777777;}
table.chart-settings th{border-bottom:1px #444444 solid;}
table.chart-settings label{color:#777777;font-size:11px;}
table.chart-settings input[type=text]{
	background: none repeat scroll 0 0 #FBFBFB;
	border: 1px solid #E5E5E5;
	box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
	-moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-bottom-left-radius: 2px;
	 color:#555555;
	 margin-top: 2px;
	 padding: 3px;
	 width: 50px;
	 font-size:11px;
}

table.chart-settings input[type=submit]{
	font-weight:bold;
	background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
	background: -webkit-gradient( linear, center, top, from(#F5F5F5), to(#F1F1F1) ); 
	background: -o-linear-gradient( center top , #F5F5F5, #F1F1F1 );
	border: 1px solid rgba(0, 0, 0, 0.1);
	/*radius*/
	border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	color:#444444;
	cursor:pointer;
	padding:5px;
	font-size:11px;
	float:right;
	margin-top:15px;
}

table.chart-settings input[type=submit]:hover{
	border:1px solid #C6C6C6;
	background:#F8F8F8;
	background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);
	text-decoration:none;
	/*shadow*/
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  	-webkit-box-shadow:  0px 1px 1px rgba(0,0,0,0.1);
  	box-shadow:  0px 1px 1px rgba(0,0,0,0.1);
}

.chart_results{width:100%;border-top:1px #DFDFDF solid;padding:10px 0px;float:left;}
.chart_results span.results_header{font-weight:bold;display:block;padding:0px 10px;text-decoration:underline;margin-bottom:10px;}
.chart_results table{float:left;width:100%;}
.chart_results table td{padding-left:10px;}

#chart_ajax_loader{background:url(../images/ajax-chart-render.gif) top left no-repeat;width:128px;height:15px;position:absolute;top:50%;left:50%;margin-left:-64px;margin-top:-8px;display:none;}

#intro{position:absolute;top:50%;left:50%;width:240px;margin-left:-120px;height:50px;margin-top:-25px;color:#21759B;font-style:italic;line-height:50px;font-size:14px;}

#stop-continue-btn, #button_stop_sim{display:none;}

#last-measurment-title{padding:0px;}