#reports{padding-bottom:20px;float:left;}

#report_container{}

table.reports{
	table-layout:fixed;
	/*border-collapse:collapse;*/
	border:1px solid #D1E5EE;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color:#21759B;
}

table.reports tr.alternate{background-color:#f6fbfe;}

table.reports th, table.reports td{
	border-bottom:1px #D1E5EE solid;
}

table.reports tfoot th{border-width:0px;}

table.reports th{
	/*background-image:-ms-linear-gradient(top,#f9f9f9,#ececec);
	background-image:-moz-linear-gradient(top,#f9f9f9,#ececec);
	background-image:-o-linear-gradient(top,#f9f9f9,#ececec);
	background-image:-webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#ececec));
	background-image:-webkit-linear-gradient(top,#f9f9f9,#ececec);
	background-image:linear-gradient(top,#f9f9f9,#ececec);
	background-color:#f1f1f1;*/
	background:url(../images/bg-box-header.png) top left repeat-x #eff8fe;
	padding:7px;
	color:#333333;
	font-size:13px;
}

table.reports th.first{
	width:2.2em;
}

table.reports th.eqip,
table.reports th.reg,
table.reports th.date{width:13em}

table.reports td{
	  padding: 6px 7px 6px;
}

a.preview{background:url(../images/preview.jpg) top left no-repeat;width:32px;height:32px;display:block;float:right;}

#paginator{margin-bottom:10px;}

#paginator a{
	font-family:Arial,Verdana,Tahoma,Geneva;
    background-image: linear-gradient(center top , #FFFFFF 0pt, #E0E0E0 100%);
	background-image: -o-linear-gradient(center top , #FFFFFF 0pt, #E0E0E0 100%);
	background-image: -moz-linear-gradient(center top , #FFFFFF 0pt, #E0E0E0 100%);
	background-image: -webkit-linear-gradient(center top , #FFFFFF 0pt, #E0E0E0 100%);
	background-image: -ms-linear-gradient(center top , #FFFFFF 0pt, #E0E0E0 100%);
	background-image: -webkit-gradient(
		linear,
		center bottom,
		center top,
		color-stop(0.01, #FFFFFF),
		color-stop(1, #E0E0E0)
	);
	/* For Internet Explorer 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#E0E0E0);
    /* For Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#E0E0E0)";    
     background-color: #E0E0E0;

	border-color: #CCCCCC #CCCCCC #AAAAAA;
    border-width:1px;
	border-style:solid;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #555555;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    height: 2.78em;
    line-height: 2.8em;
	padding: 0 0.91em;
	text-decoration:none;
	font-size:11px;
	text-shadow: 0 1px 0 #FFFFFF;
	box-shadow: 0 0 1px #FFFFFF inset;
	-webkit-box-shadow: 0 0 1px #FFFFFF inset;
	-moz-box-shadow:    0 0 1px #FFFFFF inset;
	margin-right:6px;
	float:left;
}


#paginator a:hover{
	border-color:#999999;
	box-shadow:0 1px 2px rgba(0,0,0,0.25) ;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25) ;
	-moz-box-shadow:    0 1px 2px rgba(0,0,0,0.25) ;
}


#paginator a.selected{
	background-image: -moz-linear-gradient(center top , #E6E6E6 0pt, #DCDCDC 100%);
	background-image: linear-gradient(center top , #E6E6E6 0pt, #DCDCDC 100%);
	background-image: -o-linear-gradient(center top , #E6E6E6 0pt, #DCDCDC 100%);
	background-image: -moz-linear-gradient(center top , #E6E6E6 0pt, #DCDCDC 100%);
	background-image: -webkit-linear-gradient(center top , #E6E6E6 0pt, #DCDCDC 100%);
	background-image: -ms-linear-gradient(center top , #E6E6E6 0pt, #DCDCDC 100%);
	/* For Internet Explorer 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6E6E6, endColorstr=#DCDCDC);
    /* For Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6E6E6, endColorstr=#DCDCDC)";    
     background-color: #DCDCDC;
	
    border-color: #999999 #AAAAAA #CCCCCC;
    box-shadow: 0 1px 2px #AAAAAA inset;
	-webkit-box-shadow: 0 1px 2px #AAAAAA inset;
	-moz-box-shadow:    0 1px 2px #AAAAAA inset;
}

#report_chart_container{
	width:100%;
	height:260px;
	margin-top:1px;
}

#report_chart_box{display:none;}
#report_chart_box .box-content{margin-top:-1px;}
#chart_ajax_loader{background:url(../images/ajax-chart-render.gif) top left no-repeat;width:128px;height:15px;position:absolute;top:50%;left:50%;margin-left:-64px;margin-top:-8px;display:none;}

#export-icons{position:absolute;top:2.6em;right:0.7em;z-index:1;}
#export-icons form,input{float:left;}

input.csv_export{background:url(../images/csv_file.png) top left no-repeat;width:42px;height:42px;display:block;}
input.csv_export:hover{background:url(../images/csv_file-hover.png) top left no-repeat;}
input.json_export{background:url(../images/json-file.png) top left no-repeat;width:42px;height:42px;display:block}
input.json_export:hover{background:url(../images/json-file-hover.png) top left no-repeat;}
input.xml_export{background:url(../images/xml_file.png) top left no-repeat;width:42px;height:42px;display:block;}
input.xml_export:hover{background:url(../images/xml_file-hover.png) top left no-repeat;}

#chart-menu{
	width:100%;
	height:49px;
	background:#eff8fe; 
	border-top:1px #d1e5ee solid;
}
#chart-menu > div{padding-left:1%;padding-right:1%;width:98%;}
#chart-menu ul{padding-top:10px;padding-bottom:10px;width:320px;float:left;}
#chart-menu ul li{float:left;margin-right:10px;}
#chart-menu ul li.stop{float:right;margin-right:0px;}
#chart-menu ul li a{}
#chart-menu ul li a:hover{}

#console_box ,#input_experiment_settings_box, #personal_notes_box {
	display:none;
	float:left;
}

#console_box , #input_experiment_settings_box{margin-right:20px;}
#console_box  label,#input_experiment_settings_box label{color:#000;font-weight:bold;display:block;}
#console_box  {height:289px;}

#input_experiment_settings_box .box-content span{font-style:italic;}
#input_experiment_settings_box table td.first{padding-right:20px;}
#input_experiment_settings_box table label{font-weight:bold;color:#000;}
#input_experiment_settings_box .box-content{padding:20px;}
#input_experiment_settings_box .box-content div.column{float:left;margin-right:40px;}
#input_experiment_settings_box .box-content div.value{margin-bottom:5px;}

#personal_notes_box {width:auto;}
#personal_notes_box  .box-content{padding:20px;}
#personal_notes_box  .box-content textarea{
	width:240px;
	height:206px;
	margin:0px;
	padding:5px; 
	background:#FFF;
	border:1px black solid;
	resize: none!important;
	font-style:italic;
}

#previous_report, #next_report{display:none;}

#reports-boxes{width:100%; position:absolute;top:-20px;right:0px;z-index:1000;}
#reports-boxes-wrapper{
	width:100%;
	height:auto;
	background-color: #F1F1F1;
    border:1px  #DFDFDF solid;
	border-top:none;
	z-index:1;
	display:none;
	float:left;
}
#reports-boxes-wrapper > div{padding:10px;float:left;}
#reports-boxes-wrapper input{float:none!important; margin: 0 3px 0 2px;vertical-align: middle;}
#reports-boxes-wrapper label{float:left;height:30px;line-height:30px;display:block;padding-right:15px;}

#reports-boxes-btn-wrapper{
	background-color:#E3E3E3;
	background-image: linear-gradient(center bottom , #DFDFDF, #F1F1F1);
	background-image: -o-linear-gradient(center bottom , #DFDFDF, #F1F1F1);
	background-image: -moz-linear-gradient(center bottom , #DFDFDF, #F1F1F1);
	background-image: -webkit-linear-gradient(center bottom , #DFDFDF, #F1F1F1);
	border-bottom: 1px solid #c2c2c2;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	height:22px;
	float:right;
	margin-right:10px;
}

#reports-boxes-btn-wrapper a{
	color: #777777;
    display: block;
    height: 22px;
    line-height: 22px;
    padding: 0 16px 0 6px;
	text-decoration:none;
}

#reports-boxes-btn-wrapper a:hover{text-decoration:none;color:#000;}

#reports-open-options{background:url(../images/arrows.png) no-repeat scroll right 4px;}
#reports-close-options{background:url(../images/arrows.png) no-repeat scroll right -31px;}

.settings_button{
	position:absolute;
	display:none;
	/*visibility:hidden;*/
	width:24px;
	height:20px;
	background:url(../images/settings-ico.png) top left no-repeat;
	text-indent:-9999px;
	right: 5.2em;
	top:0.8em;
	z-index:1;
}

.csv_button{
	background:url(../images/csv_file-ico.png) top left no-repeat;
	width:24px;
	height:20px;
	z-index:1;
	border:none;
	cursor:pointer;
	display:none;
}

.xml_button{
	background:url(../images/xml_file-ico.png) top left no-repeat;
	width:24px;
	height:20px;
	z-index:1;
	border:none;
	cursor:pointer;
	display:none;
}

.json_button{
	background:url(../images/json_file-ico.png) top left no-repeat;
	width:24px;
	height:20px;
	z-index:1;
	border:none;
	cursor:pointer;
	display:none;
}

.csv_button, .xml_button, .json_button{margin-right:2px;}


.settings_button:hover{background:url(../images/settings-ico.png) bottom left no-repeat;}
.csv_button:hover{background:url(../images/csv_file-ico.png) bottom left no-repeat}
.xml_button:hover{background:url(../images/xml_file-ico.png) bottom left no-repeat;}
.json_button:hover{background:url(../images/json_file-ico.png) bottom left no-repeat;}

.chart-overlay{
	position:absolute;
	width:100%;
	height:100%;
	background:#000;
	filter:alpha(opacity=80);/*Needed for IE*/ 
	-moz-opacity:0.8;/*Older mozilla broswers like NN*/ 
	-khtml-opacity: 0.8;/*Old versions of Safari and "KHTML" browser engines*/ 
	opacity: 0.8;/*FF, Safari, and Opera*/ 
	z-index:9998;
	display:none;
}

#panel-menu{display:none;}
.panel {
	position: absolute;
	/*width: 470px;*/
	width:auto;
	height:auto;
	top: 0.5em; 
	right: 0px;
	display: none;
	background: #FFF;
	border:1px solid #d0d0d0;
	border-right:1px solid #EBEBEB;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	z-index:9999;
}

.panel .title-bar{background:#f5f5f5;width:100%;border-bottom:1px #EBEBEB solid;position:relative;}
.panel .title-bar h3{color:#444444; margin:0px;padding:0px;padding-top:10px;padding-bottom:10px;padding-left:10px;font-size:14px;}

.panel .title-bar .close-panel-btn{display:block;position:absolute;background:url(../images/close2.png) 0px -14px no-repeat;width:14px;height:15px;top:13px;right:10px;cursor:pointer;}
.panel .title-bar .close-panel-btn:hover{background:url(../images/close2.png) 0px 0px no-repeat;}

.panel .title-bar .new-window-btn{background:url(../images/new_window.png) 0px 0px no-repeat; display:block;position:absolute;width:20px;height:20px;overflow:hidden;cursor:pointer; top:10px;right:25px;}
.panel .title-bar .new-window-btn:hover{background-position:0px -20px;}
.panel .content{padding:10px;color:#777777;}
.panel .content table{}
.panel .content table th{border-bottom:1px #444444 solid;}
.panel .content label{color:#777777;font-size:11px;margin-left:0.3em;}
.panel .content label.l{margin-left:0em;}
.panel .content input[type=text]{
	background: none repeat scroll 0 0 #FBFBFB;
	border: 1px solid #E5E5E5;
	box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	 color:#555555;
	 margin-top: 2px;
	 padding: 3px;
	 width: 50px;
	 font-size:11px;
}

.panel .content input[type=submit]{
	font-weight:bold;
	background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
	background: -webkit-gradient( linear, center, top, from(#F5F5F5), to(#F1F1F1) ); 
	background: -o-linear-gradient( center top , #F5F5F5, #F1F1F1 );
	border: 1px solid rgba(0, 0, 0, 0.1);
	/*radius*/
	border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	color:#444444;
	cursor:pointer;
	padding:5px;
	font-size:11px;
	float:right;
	margin-top:15px;
}

.panel .content input[type=submit]:hover{
	border:1px solid #C6C6C6;
	background:#F8F8F8;
	background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);
	text-decoration:none;
	/*shadow*/
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  	-webkit-box-shadow:  0px 1px 1px rgba(0,0,0,0.1);
  	box-shadow:  0px 1px 1px rgba(0,0,0,0.1);
}

/*table for chart settings*/
table.chart-settings{color:#777777;}
table.chart-settings th{border-bottom:1px #444444 solid;}
table.chart-settings label{color:#777777;font-size:11px;margin-left:0.3em;}
table.chart-settings label.l{margin-left:0em;}
table.chart-settings input[type=text]{
	background: none repeat scroll 0 0 #FBFBFB;
	border: 1px solid #E5E5E5;
	box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	 color:#555555;
	 margin-top: 2px;
	 padding: 3px;
	 width: 50px;
	 font-size:11px;
}

table.chart-settings input[type=submit]{
	font-weight:bold;
	background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
	background: -webkit-gradient( linear, center, top, from(#F5F5F5), to(#F1F1F1) ); 
	background: -o-linear-gradient( center top , #F5F5F5, #F1F1F1 );
	border: 1px solid rgba(0, 0, 0, 0.1);
	/*radius*/
	border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	color:#444444;
	cursor:pointer;
	padding:5px;
	font-size:11px;
	float:right;
	margin-top:15px;
}

table.chart-settings input[type=submit]:hover{
	border:1px solid #C6C6C6;
	background:#F8F8F8;
	background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);
	text-decoration:none;
	/*shadow*/
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  	-webkit-box-shadow:  0px 1px 1px rgba(0,0,0,0.1);
  	box-shadow:  0px 1px 1px rgba(0,0,0,0.1);
}

span.px{
	display: inline-block;
    margin-left: 0.3em;
    margin-top: 0.7em;
}

/*#chartWidth, #dialog-chartWidth{background:#d6cece;border:none;}*/

.report_info_box{
	background:#FFFFE0;
	border:1px solid #E6DB55;
	padding:10px;
	color:#000000;
	font-size:12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom:10px;
}