<!-- BEGIN DYNAMIC BLOCK: dashboard_main -->
{SCREEN_LINKS}
<div id="{DRAGABLE_SELECTOR}" >

	<!-- BEGIN DYNAMIC BLOCK: dashboard_modul_block -->
	<div class="default-box {MODUL_SHOW_CLASS}" id="{MODUL_ID}" style="left:{MODUL_LEFT_POSITION}px;top:{MODUL_TOP_POSITION}px;position:absolute;width:{MODUL_WIDTH};min-height:{MODUL_HEIGHT};z-index:{MODUL_ZINDEX};" >
		<div class="header"><span>{MODUL_TITLE}</span></div>
		<div class="box-content">{MODUL}</div>
	</div>
	<!-- END DYNAMIC BLOCK: dashboard_modul_block -->
	
	<!-- BEGIN DYNAMIC BLOCK: dashboard_dragable_modul_block -->
	<div class="default-box {MODUL_SHOW_CLASS}" id="{MODUL_ID}" style="left:{MODUL_LEFT_POSITION}px;top:{MODUL_TOP_POSITION}px;position:absolute;cursor:move;width:{MODUL_WIDTH};min-height:{MODUL_HEIGHT};z-index:{MODUL_ZINDEX};" >
		<div class="header"><span>{MODUL_TITLE}</span></div>
		<div class="box-content">{MODUL}</div>
	</div>
	<!-- END DYNAMIC BLOCK: dashboard_dragable_modul_block -->
	
	<!-- BEGIN DYNAMIC BLOCK: dashboard_settings_help_block -->
	<div id="napoveda">
		<div>
			<h2>Nastavenie pracovnej plochy</h2>
			<p >Jednotlivé okná je možné ľubovoľne rozmiestniť, zväčšiť alebo zmenšiť.
				Aktuálne rozmiestnenie okien bude automaticky uložené do Vášho profilu.
			<br /><br />
			<input type="checkbox" name="" value="1" id="show-dashboard-layout-info-text">
			<label for="show-dashboard-layout-info-text" >Túto správu už viac nezobrazovať</label>
			</p>
			<input type="button" id="btn-dashboard-layout-info-text" value="Zatvoriť okno" name="" />
		</div>
	</div>
	<!-- END DYNAMIC BLOCK: dashboard_settings_help_block -->
	<div class="breaker"></div>
</div>

<!-- END DYNAMIC BLOCK: dashboard_main -->

<!-- BEGIN DYNAMIC BLOCK: section_block -->
{SECTION_MODUL}
<!-- END DYNAMIC BLOCK: section_block -->

<!-- BEGIN DYNAMIC BLOCK: reservation_block -->
{RESERVATION_MODUL}
<!-- END DYNAMIC BLOCK: reservation_block -->


<!-- BEGIN DYNAMIC BLOCK: experiments_block -->
{LIVECHART}
<!-- END DYNAMIC BLOCK: experiments_block -->

<!-- BEGIN DYNAMIC BLOCK: report_block -->
{REPORT_MODUL}
<!-- END DYNAMIC BLOCK: report_block -->

<!-- BEGIN DYNAMIC BLOCK: controller_block -->
{CONTROLLER_MODUL}
<!-- END DYNAMIC BLOCK: controller_block -->


