#reservation_holder{
}

#experiment-modul table{border-collapse:collapse;width:100%;border-bottom:0px #DFDFDF solid; }
#experiment-modul table tr{height:30px;}

#experiment-modul table tr.header{height:30px;line-height:29px;background:#FFFFFF;border:none;}
#experiment-modul table tr.uneven{background:inherit;}
#experiment-modul table tr.even{background:#eef2f4;}

#experiment-modul table tr th{padding-left: 10px;color:#21759B;}
#experiment-modul table tr td{border-top: 1px solid #DFDFDF;padding-left: 10px;}
#experiment-modul table tr th.title{width: 100px;}
#experiment-modul table tr th.rezervacia{width: 210px;}
#experiment-modul table tr th.avaibility{width: 67px;padding-left:0px;padding-right:10px;}

a.avaible{background:url(../images/check.png) top left no-repeat;display:block;width:140px;height:24px;margin:auto;padding-left:35px}
a.unavaible{background:url(../images/x.png) top left no-repeat ;display:block;width:140px;height:24px;margin:auto;float:left}

label.radio_btn { color: #777777;margin-bottom: 0.2em;margin-top:0px;display:inline;}

#no-avaible-window,#avaible-for-hydro, #avaible-for-hydro2,#avaible-for-termo{display:none;}
#no-avaible-window > div,
#avaible-for-hydro > div,
#avaible-for-termo > div
{padding:20px;}

#avaible-for-termo h3, #avaible-for-hydro h3 {margin-top:0px;margin-bottom:1em; text-align:left;font-size:13px;}
#avaible-for-termo table.layout, #avaible-for-hydro table.layout{border-collapse:collapse;width:100%;} 
#avaible-for-termo table.layout > td,
#avaible-for-hydro table.layout > td
{width:50%;}
#avaible-for-hydro table.layout td.l_content,
#avaible-for-termo table.layout td.l_content
{border-right:1px #ECECEC solid;width:50%; }

#avaible-for-hydro table.settings, #avaible-for-termo table.settings{width:100%;border-collapse:collapse}
#avaible-for-hydro table.settings label, #avaible-for-termo table.settings label{color:#777777;margin:0px;padding:0px;}
#avaible-for-hydro table.settings td, #avaible-for-termo table.settings td{width:auto;padding-bottom:10px;}

#avaible-for-hydro input[type="text"], #avaible-for-termo input[type="text"]{width:50px;color:#000000;font-weight:normal;}
#avaible-for-hydro select {width:57px;}
#avaible-for-hydro span, #avaible-for-termo span{color:#777777;}

.regulator_settings_holder{width:100%;height:100px;margin-top:10px;float:left;}
.own_reg, .no_reg {color:#21759B;font-weight:bold}

.pid_reg{padding:0px!important;float:left;width:100%;}
.pid_reg table{width:100%;}
.pid_reg table td{width:auto;}

.own_reg{display:none;width:100%;}
.no_reg{display:none;width:100%;}

#c_vst_1{display:none;}

#ctrl_set{width:308px;height:100px;}
#ctrl_set optgroup {color:#21759B;font-size:12px;}
#ctrl_set option{font-size:11px;color:red;}
